.row {
	overflow: hidden; 
	padding-top: 10px; 
	width: 800px;
}

.description {
	float: left; 
	width: 140px; 
	text-align: right; 
	font-weight: bold;
}

.element {
	float: right; 
	text-align: left; 
	width: 650px;
}